# Операционные системы
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.idea/

# IntelliJ IDEA
.idea/

# Visual Studio Code
.vscode/

# macOS
*.swp

# Windows
*.bak
*.swp
*.swo
